Package: com.mapreplacer.app
Name: MapReplacer
Version: 1.0.0
Architecture: iphoneos-arm
Description: MapReplacer - iOS地图资源管理器独立应用
Maintainer: MapReplacer Team
Author: MapReplacer Team
Section: Applications
